@import "reset";
.pages {
  width: 100%;
  height: 100%;
  position: relative;
  &-master {
    height: 100%;
  }
  &-header {
    height: 56px;
    @include absolute(0, 0, 0, auto, 50);
    background: $white;
    @include flex(l);
  }
  &-section {
    background: $fc3a6f;
    @include absolute(0, 56px, 0, 0);
  }
  &-left {
    width: 140px;
    @include absolute(0, 0, auto, 0, 10);
    background: $b3e4e63;
    .menu {
      li {
        position: relative;
        &::before {
          background: url("../images/pages-nav.png") no-repeat;
          content: '';
          width: 22px;
          height: 22px;
          @include absolute(20px, 10px);
        }
        &.home::before {
          background-position: 0px -1px;
        }
        &.course::before {
          background-position: -38px -1px;
        }
        &.Information::before {
          background-position: -77px -1px;
        }
        &.record::before {
          background-position: -114px -1px;
        }
        &.note::before {
          background-position: -1px -38px;
        }
        &.exchange::before {
          background-position: -39px -38px;
        }
        &.help::before {
          background-position: -78px -37px;
        }
        &.help {
          @include absolute(0, auto, 0, 0, 5);
        }
        &.active {
          background-color: $fc3a6f;
        }
        a {
          padding-left: 60px;
          @include height(40px);
          @include flex(l);
          font-size: 14px;
          color: $white;
        }
        &.home {
          background-position: -780px -2285px;
        }
      }
    }
  }
  &-content {
    @include overflow(y);
    @include absolute(150px, 10px, 10px, 10px, 5);
    background: $white;
  }
}
